<div class="content-wrapper">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Danh sách đơn hàng</h4>


            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                            <tr>
                                <th>Tên khách hàng</th>
                                <th>Số lượng sản phẩm</th>
                                <th>Tổng giá trị</th>
                                <th>Tình trạng thanh toán</th>
                                <th>Tình trạng giao hàng</th>
                                <th>Ngày đặt hàng</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{# each order_list}}

                                <tr>
                                    <td>{{this.customer_name}}</td>
                                    <td>{{this.TotalQty}}</td>
                                    <td>{{number this.TotalPrice}} VNĐ</td>

                                    <td>
                                        <label class="badge badge-info">{{this.status}}</label>
                                    </td>

                                    <td>
                                        <label class="badge badge-info">{{this.deliver}}</label>
                                    </td>
                                    <td>{{this.date_string}}</td>
                                    <td>
                                        <a href="/admin/order_detail/{{this._id}}" class="btn btn-outline-primary">Detail</a>
                                        <a href="/admin/order_edit/{{this._id}}" class="btn btn-outline-primary">Edit</a>
                                        <a href="/admin/order_delete/{{this._id}}" class="btn btn-outline-primary">Delete</a>

                                    </td>

                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>