<div id="container">
<div class="container">
    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <div>
                <li href="#" class="list-group-item active category">Thể loại</li>
                    <ul class="list-group">
                        <a href="/category/Action" class="list-group-item">Action</a>
                        <a href="/category/Adventure" class="list-group-item">Adventure</a>       
                        <a href="/category/Indie" class="list-group-item">Indie</a>
                        <a href="/category/RPG" class="list-group-item">RPG</a>
                        <a href="/category/Racing" class="list-group-item">Racing</a>
                        <a href="/category/Sports" class="list-group-item">Sports</a>
                        <a href="/category/Simulation" class="list-group-item">Simulation</a>
                    </ul>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            <div class="slider-wrapper">
            <div id="slideshow0" class="nivoSlider"></div>
                <div class="nivo-controlNav"></div>
        </div>

        <div id="product-tab-0" class="product-tab">
            <div id="tab-featured-0" class="tab_content deactive" style="display: block;">
                <div class="row products-category product_carousel_tab mod" style="display: block;">
                <h3>
                    <span>Search result for: {{search_key}}</span>
                </h3>
                {{# each search_list}}
                {{# each this}}
                <div class="product-grid col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="product-thumb">
                    <div class="image"><a href="/product{{this.url}}"><img src="{{this.imagePath}}" alt="{{this.title}}" title="{{this.title}}" class="img-responsive"></a></div>
                    <div class="caption">
                    <h4><a href="/product{{this.url}}">{{this.title}}</a></h4>
                    <p class="price"> {{this.price_string}} VND</p>
                    <!-- <span class="">Steam</span> -->
                    </div>
                    <div class="button-group">
                        <form class="addCartFrmQty">
                            <input type="hidden" name="quantity" value="1" size="2"
                                id="input-quantity" class="form-control">
                            <input type="hidden" name="productIDToAdd" value="{{this._id}}">
                            <button class="btn btn-primary" onclick="addCart({{this.price}},1)"  type="submit"><span>Thêm vào giỏ</span></button>
                        </form>
                    <!-- <a class="btn btn-primary"  href="/add-to-cart{{this.url}}"><span>Thêm vào giỏ</span></a>-->
                    <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title=""  data-original-title="Thêm vào yêu thích"><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title=""  data-original-title="So sánh sản phẩm này"><i class="fa fa-exchange"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                {{/each}}
                    <span class="clearfix visible-lg-block"></span>
                {{/each}}
                </div>
            </div>
        </div>
  </div>
</div>
</div>
