<div id="container">
    <div class="container">
        {{# if this.products }}
        <div class="row">
            <div id="content" class="col-sm-12"><h1>Giỏ hàng</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-center">Hình</td>
                            <td class="text-left">Tên sản phẩm</td>

                            <td class="text-left">Số lượng</td>
                            <td class="text-right">Đơn giá</td>
                            <td class="text-right">Tổng cộng</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each products}}
                            <tr>
                                <td class="text-center">
                                    <img src="{{this.item.imagePath}}" alt="{{this.item.title}}" title="{{this.item.title}}" class="img-thumbnail">
                                </td>
                                <td class="text-left">{{this.item.title}}
                                </td>
                                <form action="/del_item_cart/{{this.item._id}}" method="post">
                                <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                                    <input type="text" name="quantity" value="{{this.qty}}" size="1" class="form-control">
                                    <span class="input-group-btn">



                              <button type="submit" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Loại bỏ"><i class="fa fa-times-circle"></i></button>
                              </span></div></td>
                                </form>
                                <td class="text-right">{{number this.item.price}} VNĐ</td>
                                <td class="text-right">{{number this.price}}VNĐ</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right"><strong>Tổng cộng:</strong></td>
                                <td class="text-right">{{number this.totalPrice}} VNĐ</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
                <div class="buttons clearfix">

                    <div class="pull-right"><a href="/user/checkout" class="btn btn-primary">Thanh toán</a></div>
                </div>
            </div>

        {{ else }}
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                    <h2>No Items in Cart yet!</h2>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    </div>